<html>
    <head>
        <title>Sign Up</title>
    </head>
    <body>
        <form action="{% url create_user %}" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value"Sign Up"/>
        </form>
    </body>
</html>
