<html>
    <head>
        <title>
            Login User
        </title>
    </head>
    <body>
        <b>{{ error }}</b>
        <form action="{% url login_user %}" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Login"/>
        </form>
        <form action="{% url create_user %}">
            <input type="submit" value="Sign Up"/>
        </form>
    </body>
