<html>
<head>
<title>
Add new contact
</title>
</head>
<body>
<form action="{% url add_contact %}" method="post"> {% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Add"/>
</form>
</body>
</html>

