<html>
<head><title> Edit contact </title></head>
<body>
<form action="{% url update_contact %}" method="post">{% csrf_token %}
<input type="hidden" name="id" value="{{ contact.id }}"/>
<input type="text" name="first name" value="{{ contact.first_name }}"/></br>
<input type="text" name="last name" value="{{ contact.last_name }}"/></br>
<input type="text" name="email" value="{{ contact.email }}"/></br>
<input type="text" name="mobile number" value="{{ contact.mobile_number }}"/></br>
<input type="submit" value="Update"/>
</form>
</body>
</html>
