<html>
<head>
<title> List of Contacts </title>
</head>
<body>
    <table>
        <tr>
            <td><form method='get' action='{% url add_contact %}'><input type="submit" value="Add New Contact"/></form></td>
            <td></td><td></td><td></td><td>Hi {{ user.username }}</td>
            <td> <form method='get' action='{% url logout_user %}'><input type="submit" value="Logout"/></form></td>
        </tr>
    </table>
<ol>
{% for contact in contacts %}
<li>
<b>{{ contact.first_name }} {{ contact.last_name }}</b> {{ contact.mobile_number }} {{ contact.email }}
<form method='get' action='{% url update_contact %}'><input type="hidden" name="id" value="{{ contact.id }}" /><input type="submit" value="edit"/></form>
<form method='get' action='{% url delete_contact %}'><input type="hidden" name="id" value="{{ contact.id }}"/><input type="submit" value="delete"/></form>
</li>
{% endfor %}
</ol>
</body>
</html>
